# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    secret: '%env(APP_SECRET)%'
    csrf_protection: true
    http_method_override: true
    handle_all_throwables: true
    php_errors:
        log: true

    session:
        handler_id: null
        cookie_secure: auto
        cookie_httponly: true
        cookie_samesite: lax
        cookie_lifetime: 3600
        gc_maxlifetime: 3600

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
